<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Issue Tracker</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost:3003');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
  </script>
</head>
<body>

  {% block content %}
  {% endblock %}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/site.js"></script>

</body>
</html>