{% extends 'base_layout.html' %}
{% block content %}
  <a href="/setup">setup</a>
  {% for repo in repos %}
    <div class="repo">
      <h3 class="repo-title"><span class="triangle"></span> <a href="{{ repo.url }}">{{ repo.title }}</a></h3>

      <div class="repo-contents collapsed">
        {% if repo.pullRequests.length %}
          <h5>Pull Requests</h5>
          <ul>
            {% for request in repo.pullRequests %}
              {{ listItem(request, { li: 'pull-request' }) }}
            {% endfor %}
          </ul>
        {% endif %}

        {% if repo.issues.length %}
          <h5>Issues</h5>
          <ul>
            {% for issue in repo.issues %}
              {{ listItem(issue, { li: 'issue' }) }}
            {% endfor %}
          </ul>
        {% endif %}

        {% if not repo.pullRequests.length and not repo.issues.length %}
          <h5>No pull requests or issues at the moment.</h5>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  <script>
    window.repos = {{ repos | json | safe }};
  </script>
{% endblock %}

{% macro listItem(data, extraClasses) %}
  <li class="list-item {{ extraClasses.li }}">
    <img class="profile-image" src="{{ data.user.avatar_url }}" />{#
  #}<h6 class="title"><a class="username" href="{{ data.user.html_url }}">{{ data.user.login }}</a>: <a href="{{ data.html_url }}">{{ data.title }}</a>
    <p>{{ data.created_at | date('MMMM Do, YYYY') }}</p>
  </h6>
  </li>
{% endmacro %}